.product-card-wrapper {
  border: 1px solid;
  width: 250px;
  height: 250px;
}

.product-card-display-wrapper {
  height: 75%;
  background-color: rgba(0, 0, 255, 0.5);
}

.product-card-actions-wrapper {
  height: 25%;
  background-color: rgba(255, 0, 0, 0.5);
}
