<a [routerLink]="['/product', product?.slug]" routerLinkActive="active">
  <div class="product-card-wrapper">
    <div class="product-card-display-wrapper">
      <picture>
        <img src="" alt="product" />
      </picture>
    </div>
    <div class="product-card-actions-wrapper">ACTIONS</div>
  </div>
</a>
