<div *ngIf="product; then productScreen; else errorScreen">ERROR</div>

<ng-template #errorScreen><app-error-screen /></ng-template>

<ng-template #productScreen><p>product-screen works!</p></ng-template>
