<div class="app">
  <header>
    <div class="header-wrapper"><nav>NAV</nav></div>
  </header>

  <main>
    <div class="main-wrapper"><router-outlet /></div>
  </main>

  <footer><div class="footer-wrapper">footer</div></footer>
</div>
