.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100vh;
}

header {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-wrapper {
  width: 100%;
  max-width: var(--max-display-width);
  border: 1px solid;
}

main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-wrapper {
  width: 100%;
  max-width: var(--max-display-width);
  flex-grow: 1;
  border: 1px solid;
}

footer {
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-wrapper {
  width: 100%;
  max-width: var(--max-display-width);
  border: 1px solid;
}
