.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-products-wrapper {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}
